<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Simple Python Block Programming</title>

    <style>
      .block {
        border: 1px solid #555;
        padding: 10px;
        margin: 5px;
        cursor: pointer;
        background-color: #f9f9f9;
      }
      #modules {
        padding: 10px;
        border: 2px solid #000;
      }
      #workspace {
        border: 2px solid #000;
        padding: 10px;
        height: 300px;
        overflow: auto;
      }
      #workspace.drag-over {
        border: 2px dashed #000;
      }
      .input {
        margin: 0 5px;
        padding: 2px 4px;
      }
      code {
        display: block;
        white-space: pre-wrap;
        background-color: #f9f9f9;
        padding: 10px;
        margin-top: 10px;
      }

      #modules .module {
        margin-bottom: 10px;
      }

      .module-header {
        cursor: pointer;
        background-color: #f0f0f0;
        padding: 5px;
      }

      .module-header i {
        margin-right: 5px;
      }

      .module i.open {
        display: inline-block;
      }
      .module i.close {
        display: none;
      }

      .module.hidden i.open {
        display: none;
      }
      .module.hidden i.close {
        display: inline-block;
      }

      .module.hidden .blocks {
        display: none;
      }

      .container-fluid {
        padding: 10px;
      }

      .block .parameters {
        display: inline;
      }

      .param-holder {
        background-color: #ffffcc;
        padding: 2px 4px;
        margin: 0 2px;
      }

      .param-holder.drag-over {
        background-color: #ffcc00;
      }
    </style>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <!-- simple blocks side by side -->
    <div class="container-fluid">
      <div class="row">
        <div id="modules" class="col-3"></div>

        <div class="col-9">
          <div id="workspace">
            <!-- User drags blocks here -->
          </div>
          <code id="python-code"></code>
        </div>
      </div>
    </div>

    <!-- templates -->

    <template id="sidebar-module-template">
      <div class="module">
        <div class="module-header" onclick="toggleModule(this)">
          <i class="bi bi-caret-down open"></i>
          <i class="bi bi-caret-right close"></i>
          <span class="module-name"></span>
        </div>

        <div class="blocks"></div>
      </div>
    </template>

    <template id="block-template-function">
      <div class="block" draggable="true" data-type="function">
        <span class="function-name"></span>
        (
        <div class="parameters"></div>
        )
      </div>
    </template>

    <template id="block-template-variable">
      <div class="block" draggable="true" data-type="variable">
        <span class="variable-name"></span>
        =
        <span class="variable-value"></span>
      </div>
    </template>

    <script>
      class Block {
        constructor(type, moduleName) {
          this.type = type;
          this.moduleName = moduleName;
          this.id = crypto.randomUUID();
        }

        serialize() {
          return {
            id: this.id,
            type: this.type,
            moduleName: this.moduleName,
          };
        }

        render() {
          throw new Error("Not implemented");
        }

        writeLine() {
          throw new Error("Not implemented");
        }
      }

      class FunctionBlock extends Block {
        constructor(module, name, parameters) {
          super("function", module);
          this.name = name;
          this.parameters = parameters.map((param) => ({
            id: crypto.randomUUID(),
            name: param.name,
            value: param.value,
          }));
        }

        serialize() {
          return {
            ...super.serialize(),
            name: this.name,
            parameters: this.parameters.map((param) => ({
              id: param.id,
              name: param.name,
              value: param.value,
            })),
          };
        }

        render() {
          const template = document.getElementById("block-template-function");
          const block = template.content
            .cloneNode(true)
            .querySelector(".block");

          block.dataset.data = JSON.stringify(this.serialize());

          block.querySelector(".function-name").textContent = this.name;
          const parameterEl = block.querySelector(".parameters");
          for (
            let paramIdx = 0;
            paramIdx < this.parameters.length;
            paramIdx++
          ) {
            let parameter = this.parameters[paramIdx];
            const paramHolder = document.createElement("span");
            if (parameter.value !== undefined) {
              paramHolder.innerHTML = parameter.value.render().outerHTML;
            } else {
              paramHolder.classList.add("param-holder");
              paramHolder.textContent = parameter.name;
            }
            paramHolder.dataset.id = parameter.id;
            paramHolder.ondragover = allowDrop;
            paramHolder.ondrop = dropParam;
            parameterEl.appendChild(paramHolder);

            if (paramIdx < this.parameters.length - 1) {
              parameterEl.appendChild(document.createTextNode(", "));
            }
          }

          return block;
        }

        writeLine() {
          let parameterString = this.parameters.map((param) => {
            if (param.value) {
              return param.value.writeLine();
            } else {
              return param.name;
            }
          }).join(", ");
          return `${this.moduleName}.${this.name}(${parameterString})`;
        }
      }

      class VariableBlock extends Block {
        constructor(name, value) {
          super("variable", undefined);
          this.name = name;
          this.value = value;
        }

        serialize() {
          return {
            ...super.serialize(),
            name: this.name,
            value: this.value,
          };
        }

        render() {
          const template = document.getElementById("block-template-variable");
          const block = template.content
            .cloneNode(true)
            .querySelector(".block");

          block.dataset.data = JSON.stringify(this.serialize());

          block.querySelector(".variable-name").textContent = this.name;
          block.querySelector(".variable-value").textContent = this.value;

          return block;
        }

        writeLine() {
          return `${this.name} = ${this.value}`;
        }
      }
    </script>

    <script>
      function addModuleToSidebar(moduleData) {
        const template = document.getElementById("sidebar-module-template");
        const module = template.content
          .cloneNode(true)
          .querySelector(".module");

        module.querySelector(".module-name").textContent = moduleData.name;

        // functions
        for (const functionData of moduleData.functions) {
          const { name, parameters } = functionData;
          let functionBlock = new FunctionBlock(
            moduleData.name,
            name,
            parameters.map((param) => ({
              name: param,
              value: undefined,
            }))
          );
          addBlockToSidebar(module, functionBlock);
        }

        // variables
        for (const variableData of moduleData.variables) {
          const { name, value } = variableData;
          let variableBlock = new VariableBlock(name, value);
          addBlockToSidebar(module, variableBlock);
        }

        document.getElementById("modules").appendChild(module);
      }

      function addBlockToSidebar(module, block) {
        const renderedBlock = block.render();
        renderedBlock.ondragstart = drag;
        module.querySelector(".blocks").appendChild(renderedBlock);
      }

      // load from /api
      function loadModules() {
        fetch("/api")
          .then((response) => response.json())
          .then((data) => {
            for (const module of data) {
              addModuleToSidebar(module);
            }
          });
      }

      window.onload = loadModules;

      function toggleModule(moduleHeader) {
        const module = moduleHeader.parentElement;
        module.classList.toggle("hidden");
      }
    </script>

    <script>
      // drag and drop

      let program = [];

      function renderWorkspace(program) {
        document.getElementById("workspace").innerHTML = "";
        for (const block of program) {
          const blockElement = block.render();
          document.getElementById("workspace").appendChild(blockElement);
        }
      }

      function renderProgram(program) {
        exportPython(program);
      }

      function resetDrag() {
        document.getElementById("workspace").classList.remove("drag-over");
        for (const paramHolder of document.querySelectorAll(".param-holder")) {
          paramHolder.classList.remove("drag-over");
        }
      }

      function drag(ev) {
        const data = ev.target.dataset.data;
        ev.dataTransfer.setData("text/json", data);
      }

      function allowDrop(ev) {
        ev.preventDefault();
        resetDrag();
        if (ev.target.id === "workspace") {
          document.getElementById("workspace").classList.add("drag-over");
        } else if (ev.target.classList.contains("param-holder")) {
          ev.target.classList.add("drag-over");
        }
      }

      function blockData2Block(blockData) {
        let block;
        if (blockData.type === "function") {
          const { moduleName, name, parameters } = blockData;
          block = new FunctionBlock(moduleName, name, parameters);
        } else if (blockData.type === "variable") {
          const { name, value } = blockData;
          block = new VariableBlock(name, value);
        } else {
          throw new Error("Unknown block type", blockData);
        }
        return block;
      }

      function dropWorkspace(ev) {
        ev.preventDefault();
        resetDrag();

        if (ev.target.id !== "workspace") {
          return;
        }

        const data = ev.dataTransfer.getData("text/json");
        const blockData = JSON.parse(data);
        block = blockData2Block(blockData);
        program.push(block);

        renderWorkspace(program);
        renderProgram(program);
      }

      function findParamHolderById(id, blockList) {
        for (const block of blockList) {
          if (block.type !== "function") {
            continue;
          }

          for (paramHolder of block.parameters.filter((param) => param.value === undefined)) {
            if (paramHolder.id === id) {
              return paramHolder;
            }
          }

          const paramBlock = findParamHolderById(
            id,
            block.parameters.filter((param) => param.value).map((param) => param.value)
          );
          if (paramBlock) {
            return paramBlock;
          }
        }
        return null;
      }

      function dropParam(ev) {
        ev.preventDefault();
        ev.stopPropagation();
        resetDrag();

        // get the block data
        const data = ev.dataTransfer.getData("text/json");
        const blockData = JSON.parse(data);

        // get the param holder on which the block is dropped
        const paramHolder = ev.target;
        const paramId = paramHolder.dataset.id;

        let block = findParamHolderById(paramId, program);
        if (block) {
          let newBlock = blockData2Block(blockData);
          block.value = newBlock;
        }

        renderWorkspace(program);
        renderProgram(program);
      }

      function exportPython(program) {
        let code = "";

        // gather modules
        let modules = new Set();
        for (let block of program) {
          modules.add(block.moduleName);
        }
        modules = Array.from(modules).sort();
        for (let i = 0; i < modules.length; i++) {
          code += `import ${modules[i]}\n`;
        }

        code += "\n";

        for (let block of program) {
          code += block.writeLine() + "\n";
        }

        document.getElementById("python-code").textContent = code;
      }

      document.getElementById("workspace").ondrop = dropWorkspace;
      document.getElementById("workspace").ondragover = allowDrop;
      document.getElementById("workspace").ondragleave = resetDrag;
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
